:root{
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body{
    color:var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
    padding-right: 1rem;
}

footer .social>a{
   color: var(--white-color);
   opacity: 0.75; 
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
}

.bsicon{
    color: #795da3;
}

.jsicon{
    color: #f0db4f;
}

.html5icon{
    color: #e34c26;
}

.css3icon{
    color: #264de4;
}

@media screen and (max-width: 400px) {
    .responsiveicon {
    font-size: 18vw;
    }
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    }

